<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section   name="specFlow"
   type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
  </configSections>
  <specFlow>
    <unitTestProvider  name="MsTest" />
  </specFlow>
  <system.serviceModel>
    <!--<client>
      <endpoint
         address="net.pipe://localhost/EventsPublisher"
         binding="netNamedPipeBinding"
         bindingConfiguration="NamedPipeBinding"
         contract="Topshelf.Services.Events.Common.IEvents"
         />
      <endpoint
          address="net.pipe://localhost/EventsSubscriptionService"
          binding="netNamedPipeBinding"
          bindingConfiguration="NamedPipeBinding"
          contract="Topshelf.Services.Events.Common.IEventsSubscriptonService"
          />
    </client>
    <services>
      <service name="Topshelf.Services.Events.Agent.EventsPublisherService">
        <endpoint
          address="net.pipe://localhost/EventsPublisher"
          binding="netNamedPipeBinding"
          bindingConfiguration="NamedPipeBinding"
          contract="Topshelf.Services.Events.Common.IEvents"
          />
      </service>
      <service name="Topshelf.Services.Events.Agent.EventsSubscriptionService">
        <endpoint
          address="net.pipe://localhost/EventsSubscriptionService"
          binding="netNamedPipeBinding"
          bindingConfiguration="NamedPipeBinding"
          contract="Topshelf.Services.Events.Common.IEventsSubscriptonService"
          />
      </service>
    </services>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NamedPipeBinding" >
          <security mode="None"  >
          </security>
        </binding >
      </netNamedPipeBinding>
    </bindings>-->
  </system.serviceModel>
</configuration>








