<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="address" value="net.pipe://localhost/SampleValidService.Agent"/>
    <add key="contract" value="SampleValidService.Common.ISampleService"/>
    <add key="binding" value="netNamedPipeBinding"/>
    <add key="bindingConfiguration" value="NamedPipeBinding"/>

    <add key="thirdPartyConfig" value="Third party config"/>
  </appSettings>
</configuration>








