<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Topshelf.Services.Events.Configuration"
             type="Topshelf.Services.Events.Common.Configuration.TransportSettings, Topshelf.Services.Events.Common" />
  </configSections>

  <Topshelf.Services.Events.Configuration  
    publishingAddress="net.pipe://localhost/EventsPublisher"
    subscribingAddress="net.pipe://localhost/EventsSubscriptionService"
    binding="netNamedPipeBinding"
    bindingConfiguration="NamedPipeBinding"
    publishingContract="Topshelf.Services.Events.Common.IEvents"
    subscribingContract="Topshelf.Services.Events.Common.IEventsSubscriptonService"
    />

</configuration>