<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint
         address="net.pipe://localhost/EventsPublisher"
         binding="netNamedPipeBinding"
         bindingConfiguration="NamedPipeBinding"
         contract="Topshelf.Services.Events.Common.IEvents"
         />
      <endpoint
          address="net.pipe://localhost/EventsSubscriptionService"
          binding="netNamedPipeBinding"
          bindingConfiguration="NamedPipeBinding"
          contract="Topshelf.Services.Events.Common.IEventsSubscriptonService"
          />
    </client>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NamedPipeBinding" >
          <security mode = "None">
          </security>
        </binding >
      </netNamedPipeBinding>
    </bindings>
  </system.serviceModel>
</configuration>