<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint
         address="net.pipe://localhost/WaitingAllWCFCallbacksToComplete.IEventsService"
         binding="netNamedPipeBinding"
         bindingConfiguration="NamedPipeBinding"
         contract="WaitingAllWCFCallbacksToComplete.IEventsService"
         />
    </client>
    <services>
      <service name ="MyIEventsService">
        <endpoint
           address = "net.pipe://localhost/WaitingAllWCFCallbacksToComplete.IEventsService"
           binding = "netNamedPipeBinding"
           contract= "WaitingAllWCFCallbacksToComplete.IEventsService"
           bindingConfiguration="NamedPipeBinding"
      />
      </service>
    </services>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NamedPipeBinding" >
          <security mode = "None">
          </security>
        </binding >
      </netNamedPipeBinding>
    </bindings>
  </system.serviceModel>
</configuration>